/* button.css */
.btn {
  width: 100%;
  padding: 0.7rem;
  background-color: #04BF8A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #03a64a;
}
